mat-card{
    width: 80%;
    
    i{
        margin-left:95%;
        margin-right:5%;
        cursor: pointer;
    }
}

mat-list{
    display: block;
    position: relative;
    margin-top: 4vh;
}

mat-form-field{
    margin-top: 5vh;
    width: 100%;
    padding-top: 20px;
    display: block;
    position: relative;
}